.container {
    display: flex;
    justify-content: center;
}

.notification {
    width: 60%;
}

.notification-like-box {
    display: flex;
    height: 150px;
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid #dddd;
    position: relative;
}

.notification-like-box .image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-like-box .image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.notification-like-box .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.notification-like-box .content a:last-of-type {
    font-size: 18px;
    color: var(--yellow);
    text-decoration: underline;
    font-style: italic;
}

.colorful-box {
    background-color: rgba(172, 255, 47, 0.267);
}

.delete-notification {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-notification i{
    font-size: 20px;
    color: #ddd
}
.notification h1{
    text-align: center;
}