.container{
    display: flex;
    justify-content: center;
}

.notification{
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.notification-like-box{
    display: flex;
    height: 150px;
    padding: 10px;
margin: 5px 10px;
    border: 1px solid #dddd;
}
.notification-like-box .image{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.notification-like-box .image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.notification-like-box .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.notification-like-box .content a:last-of-type{
    font-size: 18px;
    color: var(--yellow);
    text-decoration: underline;
    font-style: italic;
}