@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/*---------------- GLOBAL CSS -------------------------*/

@font-face {
  font-family: "FuturaPT";
  src: url(../fonts/FuturaPT-Book.ttf);
}

:root {
  /* color */

  --dark-green: #0c3b2e;
  --light-green: #65A43D;
  --brokolli-green: #008c3f;
  --coffee: #bb8a72;
  --yellow: #ffba00;
  --dark-grey: #64748B;
  --light-grey: #cbd5e1;

  /* font family */

  --font-heading: "FuturaPT", sans-serif;
  --font-paragraph: "FuturaPT", sans-serif;
  --font-logo: 'Fredericka the Great', cursive;

  /* box shadow */

  --box-shadow:rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  --naw-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;

}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: var(--dark-green);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p,
span,
li,
a {
  font-family: var(--font-paragraph);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: var(--yellow);
  border: 1px solid transparent;
  color: #fff;
}

.hide {
  display: none !important;
}

::selection {
  background-color: var(--dark-green);
  color: #fff;
}

.padding-x {
  padding-left: 50px;
  padding-right: 50px;
}

.display {
  height: 100vh !important;
  pointer-events: all !important;
}

h3.title {
  background-color: var(--light-green);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-align: center;
  padding: 7px;
  word-wrap: break-word;
  color: #fff;
  margin: 1rem 0;
}



/*---------------- LOADING -------------------------*/

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 10000;
  flex-direction: column;
}

.loader img {
  width: 200px;
  height: 200px;
}

/* PAGINATION */

.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  width: 100%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;

}

.pagination a.active {
  color: var(--yellow);
}

.pagination a:hover:not(.active) {
  background-color: rgba(221, 221, 221, 0.316);
}

/*---------------- ALERTIFY -------------------------*/


.ajs-message {
  background-color: var(--light-green) !important;
}

.ajs-message.ajs-error {
  background-color: red !important;
}

/*---------------- SWIPER-SLIDE -------------------------*/


.swiper {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.mySwiper1 .swiper-slide {
  width: 150px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-rtl .swiper-button-next{
background-color: var(--light-green);
width: 30px!important;
height: 30px!important;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}

.swiper-button-next::after, .swiper-button-prev::after{
  font-size: 16px!important;
  color: #fff;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: 0!important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 0!important;
}


/*---------------- EDIT AND DELETE DOTS -------------------------*/

.display-crud {
  display: flex !important;
}

/*---------------- MODAL -------------------------*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.593);
  backdrop-filter: blur(3px);
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  pointer-events: none;
  overflow: hidden;
}

.modal-image,
.modal-content {
  width: 350px;
  height: 350px;
  background-color: #fff;
  position: relative;
  z-index: 10000;
}

.modal-content {
  border-radius: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-image .close i,
.modal-content .close i {
  color: red;
  font-size: 25px;
}

.modal-image .close,
.modal-content .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content h1 {
  color: red;
  margin: 20px 0;
  font-size: 25px;
}



/*---------------- NAVBAR -------------------------*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgb(221, 221, 221);
  box-shadow: var(--naw-shadow);
  z-index: 1000;
  height: 50px;
  position: sticky;
  top: 0;
}

.sticky-nav {
  background-color: var(--light-green);
  transition: 0.3s;
  border-bottom: 0;
  box-shadow: none;
}

.sticky-nav :is(.logo a, .nav-links li a) {
  color: #fff;
}

.sticky-nav .hamburger div {
  background-color: #fff;
}

.logo a {
  font-size: 30px;
  color: var(--light-green);
  font-family: var(--font-logo);
  font-weight: 700;
}

.nav-links {
  display: flex;
  width: 74%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-links li a {
  display: inline-block;
  transition: 0.3s ease;
  font-size: 18px;
  font-weight: 500;
}

.join-button {
  color: #fff;
  background-color: var(--light-green);
  border: 1px solid #fff;
}

.join-button:hover {
  background-color: transparent;
  border: 1px solid var(--dark-green);
  color: var(--dark-green);
  transition: 0.3s;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: var(--light-green);
  margin: 5px 0;
  transition: 0.3s;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.profile-nav {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--light-green);
  border: 1px solid #fff;
}

.profile-nav img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.profile-nav p {
  color: #fff;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  height: 0;
  background-color: var(--light-green);
  transition: 0.3s;
  align-items: center;
  display: flex;
  overflow: hidden;
  z-index: 100;
}

.dropdown.display {
  height: max-content !important;
}

.dropdown ul a li {
  display: flex;
  align-items: center;
  margin: 5px 10px;
  color: #fff;
}

.dropdown ul li lord-icon {
  margin-right: 5px;
}

.profile-go {
  display: flex;
  width: 100%;
  align-items: center;
}

.profile-nav {
  cursor: pointer;
}

.notifications {
  position: relative;
  cursor: pointer;
}

.notifications .count {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: -5px;
  right: -5px;
}

.mobile-bottom {
  display: none;
}

/* NOTIFICATION DROPDOWN */

.dropdown-notification {
  position: absolute;
  background-color: var(--light-green);
  border-radius: 1px;
  z-index: 100;
  top: 49px;
  right: 0;
  width: 300px;
  height: 300px;
  display: none;
  overflow-y: scroll;
}

.dropdown-notification li {
  border-bottom: 1px solid #ddd;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.dropdown-notification a {
  display: block !important;
  text-align: center;
}

.dropdown-notification a li span {
  color: var(--yellow);
}

.show-dropdown {
  display: block;
}

/*---------------- FOOTER -------------------------*/

footer {
  width: 100%;
  min-height: 100px;
  background: #fff;
  border-top: 1px solid var(--dark-green);
  z-index: 100;
  text-align: center;
  margin-top: 1rem;
}

.footer-nav a {
  margin: 10px;
  font-weight: 500;
  transition: 0.3s;
}

.footer-nav a:hover {
  color: var(--light-green) !important;
}

.footer input {
  width: 200px;
  height: 40px;
  padding: 5px;
  border: 1px solid var(--dark-green);
  border-radius: 10px 0 0 10px;
}

input:focus {
  outline: none;
}

.footer button {
  height: 40px;
  width: 100px;
  background-color: var(--light-green);
  padding: 5.5px;
  border-radius: 0 10px 10px 0;
  margin-left: -6px;
}

.footer button:hover {
  color: var(--light-green);
  background: #fff;
  transition: 0.3s;
  border: 1px solid var(--light-green);
}

.input {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

footer i {
  transition: 0.3s;
  font-size: 25px;
  margin: 10px 5px 20px 10px;
}

footer i:hover {
  color: var(--light-green);
}

h4 {
  margin: 20px !important;
  font-weight: 500;
}


.copyright p {
  padding: 10px 10px 30px 10px;
  text-align: center;
}

.copyright p a {
  color: var(--light-green);
  font-size: 20px;
  margin: 0 5px;
}


/*---------------- NOT FOUND PAGE -------------------------*/

.not-found {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-found a {
  padding: 10px 20px;
  background-color: var(--yellow);
  border-radius: 20px;
  border: 0;
  margin-top: 20px;
  color: #fff;
}

.not-found .div404 {
  font-size: 150px;
  font-weight: 900;
}

.not-found img {
  width: 130px;
  height: 130px;
}



/*Stying for small screens*/

@media screen and (max-width: 1024px) {
  .padding-x {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hamburger {
    display: block;
    transition: 0.3s;
  }

  nav {
    background-color: var(--light-green);
    height: 50px;
  }

  .hamburger div {
    background-color: #fff;
  }

  /*Animating Hamburger Icon on Click*/

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }



  .logo a {
    font-size: 25px;
    color: #fff;
  }

  .nav-links {
    position: fixed;
    background: var(--light-green);
    height: 0;
    width: 100%;
    flex-direction: column;
    z-index: 100000;
    top: 49px;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
    justify-content: flex-start;
  }

  .nav-links.open {
    height: calc(100vh - 50px);
    overflow-y: scroll;
  }

  .nav-links li a {
    color: #fff !important;
    margin: 20px 0;
    text-align: center;
  }

  .profile-nav {
    border: 1px solid #fff;
  }

  .input {
    display: block;
  }

  footer {
    padding-bottom: 40px;
  }


  .mobile-bottom {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: var(--light-green);
    z-index: 100;
    border-top: 1px solid #fff;
  }

  .mobile-bottom .bottom-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .mobile-bottom .noti {
    border-left: 1px solid #fff;
    cursor: pointer;
  }

  .mobile-bottom .profile-go img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .mobile-bottom .profile-go p {
    color: #fff;
  }

  .mobile-bottom .profile-go {
    cursor: pointer;
    ;
  }

  .mobile-bottom .noti .notifications .count {
    top: -3px;
    right: -3px;
  }

  .dropdown {
    position: fixed;
    width: 50%;
    height: calc(100vh - 49px - 40px);
    background-color: var(--light-green) !important;
    transform: translateX(-300%);
    top: 48.5px;
    left: 0;
    transition: 0.3s;
  }

  .dropdown ul a {
    display: block;
  }

  .dropdown.transform,
  .dropdown-notification.transform {
    transform: translateX(0);
  }

  .dropdown-notification {
    position: fixed;
    background-color: var(--light-green);
    border-radius: 0;
    z-index: 1;
    top: 48.5px;
    right: 0;
    width: 50%;
    display: block;
    overflow-y: scroll;
    height: calc(100vh - 49px - 40px);
    transform: translateX(300%);
    transition: 0.3s;
  }

  li.notification-bell,
  li.profile-nav {
    display: none;
  }

  .join-button {
    margin-top: 20px;
    border: 1px solid var(--yellow);
    color: var(--yellow);
  }
  .modal-image,
  .modal-content{
    width: 70%;
  }
}

@media screen and (max-width: 926px) {

  .padding-x {
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal-image,
.modal-content{
  width: 80%;
}

}

@media screen and (max-width: 768px) {
  .padding-x {
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal-image,
  .modal-content{
    width: 90%;
  }

}