{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href='{% static '/css/recipe-details.css' %}?{% now "U" %}'>
<link rel="stylesheet" href='{% static '/css/index.css' %}?{% now "U" %}'>
{% endblock css %}
{% block title %}<title>{{blog.title}}</title>{% endblock  %}

{% block content %}



<h3 class="title">{{blog.title}}</h3>
<div class="container  padding-x">
    <div class="details">
        <img src="{{blog.image.url}}" alt="">

        <div class="content">
            <h1 class="post-title">{{blog.title}}</h1>
            <p>{{blog.description.html|safe}}</p>
        </div>
</div>



    <div class="other-posts">

        <a
            href=" {% if blog.owner.id == user.profile.id %} {% url 'profile' user.profile.slug %} {% else %} {% url 'Account' blog.owner.slug %} {% endif %}">
            <div class="owner">
                <div class="profile-img">
                    <img src="{{blog.owner.profile_image.url}}" alt="">
                    <div class="name">
                        <h4>{{blog.owner.name}}</h4>
                        <p>@{{blog.owner.username}}</p>
                    </div>
                </div>
            </div>
        </a>

        <h3 class="title">Digər postlar</h3>
        {% for blog in blogs %}
        {% include "partials/__blogcard.html" %}
        {% endfor %}

    </div>
</div>

{% endblock  %}