{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href='{% static '/css/form.css' %}?{% now "U" %}'>
{% endblock css %}
{% block content %}

<!--Blog yaratmaq ucun form -->

<div class="form">
  <div class="page">
    {% if page == "createblog" %}
    <h1>Blog yaz</h1>

    {% include "partials/__create_blog.html" %}


    <!--Blog update etmek ucun form -->


    {% elif page == "updateblog" %}
    <h1>Bloga düzəliş et</h1>
    {% include "partials/__create_blog.html" %}


    {% endif %}
  </div>
</div>
{% endblock content %}

{% block js %}

<script src='{% static '/js/preview.js' %}?{% now "U" %}'></script>

{% endblock js %}