{% load static %}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Jahana Sultan" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/pattern.css" rel="stylesheet">
    <!---------------- Alertify CSS ---------------->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!-------x-------- Alertify CSS --------x------->
    <link rel="stylesheet" href='{% static '/css/style.css' %}?{% now "U" %}'> 
    
    {% block css %}{% endblock  %}
    {% block title %}<title>Ana Səhifə</title>{% endblock  %}
</head>

<!-- LOADING GIF -->

<div class="loader">
    <img src="{% static 'image/loader.gif' %}" alt="">
    {% comment %} <h2>Food Loading</h2> {% endcomment %}
</div>
<body class="bg">
    <!---------------Navigation--------------->
    <nav class="padding-x">
            <div class="logo">
        <a href="{% url 'index' %}">
          YeMake.com
        </a>
    </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Ana Səhifə</a></li>
            <li><a href="{% url 'recipes' %}">Reseptlər</a></li>
            <li><a href="{% url 'blogs' %}">Blog</a></li>
            <li><a href="{% url 'aboutus' %}">Haqqımızda</a></li>
            <li><a href="{% url 'contact' %}">Əlaqə</a></li>
            {% if request.user.is_authenticated  %}
            <li>
               <div class="notifications">
                   <i class="fa-solid fa-bell"></i>
                   <div class="count">0</div>
                   {% comment %} <div class="notification-dropdown">
                    <ul>
                        <li>hello</li>
                    </ul>
                   </div> {% endcomment %}
               </div>
            </li>
                <li class="profile-nav">
                    <div class="profile-go">
                        {% if user.profile.profile_image %}
                        <img src="{{user.profile.profile_image.url}}" alt="">
                        {% else %}
            <img src="{% static 'image/user-default.jpg' %}" alt="">
                        {% endif %}
                         <p>{{user.profile.name}}</p></div> 
                    <div class="dropdown">
                        <ul>
                           <a href="{% url 'profile' user.profile.slug %}">
                            <li><i class="fa-solid fa-user"></i> Profil</li>
                           </a><a href="{% url 'edit-account' %}">
                            <li><i class="fa-solid fa-gear"></i> Tənzimləmələr</li>
                           </a><a href="{% url 'signout' %}">
                            <li><i class="fa-solid fa-arrow-right-from-bracket"></i> Çıxış</li>
                           </a>
                        </ul>
                    </div>
                </li>
            
            {% else %}
            <a href="{% url 'signin' %}">
                <li><button class="join-button" >Giriş Et</button></li>
            </a>
            
            {% endif %}
            
        </ul>
    </nav>
    <!-------x-------Navigation-------x------->


    {% block content %}
     {% endblock  %}

  
    <!-- -------------Footer------------------->
    <footer>
        <div class="footer">
            <div class="icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="input">
                <div class="subscribe">
                    <h5>Her hafta yeni tarifler emailinize gelsin:</h5>
                    <input type="email" placeholder="Email">
                    <button>Abone Ol</button>
                </div>
                <div class="search">
                    <h5>Axtarmaq istədiyiniz kəliməni yazın:</h5>
                    <form action="{% url 'recipes' %}" method="get" id="searchForm">
                    <input type='text' id="search" class="searchbar" placeholder="Axtar" name="search_query" />
                    <button type="submit" id="searchbarsubmit">Axtar</button>
                </form>
                </div>
            </div>
            <div class="footer-nav">

                <a href="">En son postlar</a>
                <a href="about.html">Hakkımızda</a>
                <a href="contact.html">İletişim</a>

            </div>

        </div>
        <hr>
        <div class="copyright">
            <p>© Copyright Alken Techs {% now "Y" as current_year %}{{ current_year }} </p>
        </div>
    </footer>
    <!-------x-------Footer-----------x----- -->

    <!---------------JS links--------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
   <!------------- Alertify Javascript------------>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

   
   <!-----x------- Alertify Javascript-------x---->
    <script src='{% static '/js/main.js' %}?{% now "U" %}'></script>
    {% block js %}{% endblock  %}
   
   
    <!-------x-------JS links-------x------->

</body>

</html>