{% load static %}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Jahana Sultan" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}
    <meta name="description" content="Məqsədimiz sizi hər gün nə bişirəcəm dərdindən qurtarmaqdır. Müxtəlif kateqoriyalar altında yer alan reseptlərlə dadlı bir dünya qurmaq vaxtı olduğunu özümüzə deviz seçmişik. Yemək bişirməklə işi bitirməyib hansı məhsullardan daha keyfiyyətli yeməklər ortaya çıxara biləcəyinizə dair müxtəlif blogları diqqətinizə çatdırmaqdan qürur duyuruq. Daha sağlam gələcək üçün daha sağlam qidalanma alışqanlığı yaratmaq məqsədlərimizdən biridir. "> 
    {% endblock meta %}
    <link rel="icon" href="{% static 'image/icon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/pattern.css" rel="stylesheet">
    <!---------------- Alertify CSS ---------------->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-------x----- Alertify CSS -----x------>

    <link rel="stylesheet" href='{% static '/css/style.css' %}?{% now "U" %}'>
    {% block css %}{% endblock css %}
    {% block title %}<title>Ana Səhifə</title>{% endblock title %}

</head>

<!---- LOADING GIF -->

<div class="loader">
    <img src="{% static 'image/loader.gif' %}" alt="">
    {% comment %} <h2>Food Loading</h2> {% endcomment %}
</div>


<body class="bg">
    <!---------------Navigation-------------->
    <nav class="padding-x">
        <div class="logo">
            <a href="{% url 'index' %}">
                YeMake.com
            </a>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Ana Səhifə</a></li>
            <li><a href="{% url 'recipes' %}">Reseptlər</a></li>
            <li><a href="{% url 'blogs' %}">Blog</a></li>
            <li><a href="{% url 'aboutus' %}">Haqqımızda</a></li>
            <li><a href="{% url 'contact' %}">Əlaqə</a></li>
            {% if request.user.is_authenticated  %}
            <li class="notification-bell">

                <div class="notifications">
                    <lord-icon src="https://cdn.lordicon.com/psnhyobz.json" trigger="hover" colors="primary:#ffba00"
                        style="width:32px;height:32px">
                    </lord-icon>
                    <div class="count notification-count">
                        {% if not_count < 10 %}
                        {{not_count}}
                        {% else %}
                        9+
                        {% endif %}
                    </div>
                </div>
            </li>
            <div class="dropdown-notification ">
                <ul>

                    {% if push or active_recipe or active_blog %}
                    {% for recipe in active_recipe %}
                    <a href="{% url 'blogdetails' recipe.post.slug %}">
                        <li><span>{{recipe.post.title}}</span> adlı reseptiniz artıq yayındadır. <em>{{recipe.date}}</em>
                        </li>
                        
                    </a>
                    {% endfor %}
                    {% for blog in active_blog %}
                    <a href="{% url 'blogdetail' blog.post.slug %}">
                        <li><span>{{blog.post.title}}</span> adlı blogunuz artıq yayındadır. <em>{{blog.date}}</em>
                        </li>
                    </a>
                    {% endfor %}

                    {% for notif in push %}

                    {% if notif.notification_type == 1 %}

                    <a href="{% url 'blogdetails' notif.post.slug %}">
                        <li>@{{notif.sender}} adlı istifadəçi <span>{{notif.post.title}}</span> adlı reseptinizi bəyəndi <em>{{notif.date}}</em>
                        </li>
                    </a>

                    {% elif notif.notification_type == 2 %}

                    <a href="{% url 'blogdetails' notif.post.slug %}">
                        <li>@{{notif.sender}} adlı istifadəçi <span>{{notif.post.title}}</span> adlı reseptinizə şərh
                            yazdı. <em>{{notif.date}}</em>
                        </li>
                        
                    </a>
                    {% endif %}

                    {% endfor %}

                    {% else %}
                    <li>Yeni bildiriş yoxdur!</li>
                    {% endif %}
                </ul>
            </div>
            <li class="profile-nav">
                <div class="profile-go">
                    {% if user.profile.profile_image %}
                    <img src="{{user.profile.profile_image.url}}" alt="">
                    {% else %}
                    <img src="{% static 'image/user-default.jpg' %}" alt="">
                    {% endif %}
                    <p>{{user.profile.name}}</p>
                </div>

            </li>
            <div class="dropdown">
                <ul>
                    <a href="{% url 'profile' user.profile.slug %}">
                        <li>
                            <lord-icon src="https://cdn.lordicon.com/hbvyhtse.json" trigger="hover"
                                colors="primary:#fff" style="width:32px;height:32px">
                            </lord-icon> Profil
                        </li>
                    </a>
                    <a href="{% url 'edit-account' %}">
                        <li>

                            <lord-icon src="https://cdn.lordicon.com/hwuyodym.json" trigger="hover"
                                colors="primary:#fff" style="width:32px;height:32px">
                            </lord-icon>
                            Tənzimləmələr
                        </li>
                    </a><a href="{% url 'signout' %}">
                        <li>
                            <lord-icon src="https://cdn.lordicon.com/nhfyhmlt.json" trigger="hover"
                                colors="primary:#fff" style="width:32px;height:32px">
                            </lord-icon> Çıxış
                        </li>
                    </a>
                </ul>
            </div>

            {% else %}
            <a href="{% url 'signin' %}">
                <li><button class="join-button">Giriş Et</button></li>
            </a>

            {% endif %}

        </ul>
    </nav>
    {% if request.user.is_authenticated %}
    <div class="mobile-bottom padding-x">
        <div class="bottom-box bottom-profile">
            <div class="profile-go">
                <img src="{{user.profile.profile_image.url}}" alt="">
                <p>{{user.profile.name}}</p>
            </div>
        </div>

        <div class="noti bottom-box">
            <div class="notifications ">
                <lord-icon src="https://cdn.lordicon.com/psnhyobz.json" trigger="hover" colors="primary:#ffba00"
                    style="width:30px;height:30px">
                </lord-icon>
                <div class="count notification-count">
                    {% if push.count < 10 %}
                    {{push.count}}
                    {% else %}
                    9+
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    {% endif %}
    <!------x-------Navigation------x------>

    {% include "partials/__modal.html" %}
    {% block content %}
    {% endblock  %}

    <!-- -------------Footer------------------>
    <footer>
        <div class="footer">
            <div class="icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="input">
                <form class="subscribe" action="{% url 'subscribe' %}" method="POST">
                    {% csrf_token %}
                    <h4>Hər həftə yeni reseptlər emailinizə gəlsin:</h4>
                    <input type="email" placeholder="Email" name="email">
                    <button>Abone Ol</button>
                </form>
                <div class="search">
                    <h4>Axtarmaq istədiyiniz kəliməni yazın:</h4>
                    <form action="{% url 'recipes' %}" method="get" id="searchForm">
                        <input type='text' id="search" class="searchbar" placeholder="Axtar" name="search_query" />
                        <button type="submit" id="searchbarsubmit">Axtar</button>
                    </form>
                </div>
            </div>
            <div class="footer-nav">

                <a href="{% url 'blogs' %}">Ən son bloglar</a>
                <a href="{% url 'aboutus' %}">Haqqımızda</a>
                <a href="{% url 'contact' %}">Əlaqə</a>

            </div>

        </div>
        <div class="copyright">
            <p>© Copyright <a href="{% url 'index' %}">yemake.com</a> {% now "Y" as current_year %}{{ current_year }}
            </p>
        </div>
    </footer>
    <!-------x-------Footer--------x----- -->

    <!---------------JS links-------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!------------- Alertify Javascript------------>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>


    <!-----x------- Alertify Javascript-------x---->
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
    <script src='{% static '/js/main.js' %}?{% now "U" %}'></script>

  
    <script type="text/javascript">

      {% for message in messages %}

        alertify.set('notifier', 'position', 'top-center');
        alertify.{{ message.tags }} ('{{message}}');
    
      {% endfor %}

    </script>
    {% block js %}{% endblock js %}


    <!-------x-------JS links-------x------->

</body>

</html>