{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href='{% static '/css/form.css/' %}?{% now "U" %}'>
{% endblock css %}
{% block title %}<title>Şifrəsi Sıfırla</title>{% endblock title %}


{% block content %}

<div class="form">
    <div class="page">
<h1>Şifrəni Sıfırla</h1>
<small>Şifrənizi unutmusunuz? Aşağıya e-poçt ünvanınızı daxil edin və biz yenisini təyin etmək üçün təlimatları e-poçtla göndərəcəyik.</small>
<form
  method="POST"
>
  {% csrf_token %} 
  {{form.as_p}}

  <div class="submit"><input type="submit" value="Göndər" /></div>
</form>
</div>
</div>

{% endblock content %}