{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href='{% static '/css/form.css/' %}?{% now "U" %}'>
{% endblock css %}
{% block title %}<title>Şifrəsi Sıfırla</title>{% endblock title %}


{% block content %}

<div class="form">
    <div class="page">
        <h1> Şifrə sıfırlama göndərildi </h1>
        <p>Daxil etdiyiniz e-poçtla hesab varsa, şifrənizi təyin etmək üçün sizə e-poçt təlimatları göndərdik. Onları
            tezliklə qəbul etməlisiniz.</p>
        <p class="info"><i class="fa-solid fa-circle-info"></i>
            E-poçt almasanız, qeydiyyatdan keçdiyiniz ünvanı daxil etdiyinizə əmin olun və spam qovluğunu yoxlayın.</p>
    </div>
</div>

{% endblock content %}