{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href='{% static '/css/form.css' %}?{% now "U" %}'>
{% endblock css %}
{% block content %}



<div class="form">
    <div class="page">

        <!--Resept update etmek ucun form -->

        {% if page == "update" %}
        <h1>Reseptə Düzəliş et</h1>

        {% include "partials/__create_blog.html" %}

        <!-- Resept yaratmaq ucun form -->

        {% else %}
        <h1>Resept Yaz</h1>
        {% include "partials/__create_blog.html" %}
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block js %}

<script src='{% static '/js/preview.js' %}?{% now "U" %}'></script>

{% endblock js %}