{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" href='{% static '/css/recipe-details.css' %}?{% now "U" %}'>
<link rel="stylesheet" href='{% static '/css/index.css' %}?{% now "U" %}'>
{% endblock css %}
{% block title %}<title>{{blog.title}}</title>{% endblock  %}

{% block content %}

<h3 class="title">{{blog.title}}</h3>
<div class="container  padding-x">
    <div class="details">
        <img src="{{blog.image.url}}" alt="">

        {% if blog.isActive %}

        <div class="detail">
            <div class="recipe-book top">
                {% if request.user.is_authenticated %}
                <button class='likebutton' data-id="{{ blog.id }}">
                    {% if like %}
                    <i class="fa-solid fa-thumbs-up"></i> (<span class="likecount">{{upvote | length}}</span>)
                    {% else %}
                    <i class="fa-regular fa-thumbs-up"></i> (<span class="likecount">{{upvote | length}}</span>)
                    {% endif %}
                </button>
                {% else %}
                <a href="{% url 'signin' %}?next={{request.path}}">
                    <button data-id="{{ blog.id }}">
                        <i class="fa-regular fa-thumbs-up"></i>
                        ({{upvote | length}})
                    </button>
                </a>
                {% endif %}
            </div>

            <div class="comments top">
                <a href="#comment">
                    <button data-id="{{ blog.id }}">
                        <i class="fa-solid fa-comment"></i>
                        ({{review | length}})
                    </button>
                </a>
            </div>

            <div class="recipe-book top">
                {% if request.user.is_authenticated %}
                <button class="recipebookbutton" data-id="{{blog.id}}">
                    {% if bookmark %}
                    <i class="fa-solid fa-bookmark"></i> (<span class="recipebookcount">{{book}}</span>)
                    {% else %}
                    <i class="fa-regular fa-bookmark"></i> (<span class="recipebookcount">{{book}}</span>)
                    {% endif %}
                </button>
                {% else %}
                <a href="{% url 'signin' %}?next={{request.path}}">
                    <button data-id="{{ blog.id }}">
                        <i class="fa-regular fa-bookmark"></i>
                        ({{book}})
                    </button>
                </a>
                {% endif %}
            </div>
            <div class="time top">
                <button>
                    <i class="fa-solid fa-clock"></i>
                    {{blog.cook_time}} {{blog.time}}
                </button>
            </div>
        </div>{% endif %}
        <div class="content">

            <h1>{{blog.title}}</h1>
            <p>{{blog.description.html|safe}}</p>

        </div>

        <div class="iframe">
            <div class="video">

                {% if blog.youtube_link %}
                {% video blog.youtube_link as my_video %}
                {% video my_video  %}
                {% endvideo %}
                {% endif %}

            </div>


            <div class="comments" id="comment">

                {% if request.user.is_authenticated %}
                {% if blog.isActive %}

                <h2 class="add-comment">Şərh Əlavə Edin</h2>

                <!-----COMMENT FORM----->

                <div class="comment">
                    <img src="{{user.profile.profile_image.url}}" alt="">
                    <div class="submit-btn">
                        <textarea name="comment_body" class="comment-body">
    </textarea>
                        <button class="addcomment" data-id={{blog.id}}>Əlavə Et</button>
                    </div>
                </div>

                {% endif %}
                {% else %}
                <!--x--COMMENT FORM--x-->

                <a href="{% url 'signin' %}?next={{request.path}}">
                    <h4 class="comment-write">Şərh yazmaq üçün Giriş Edin</h4>
                </a>
                {% endif %}
                <div class="comment-cards">

                    {% for comment in review %}
                    {% include "partials/__comment.html" %}
                    {% endfor %}

                </div>
            </div>



        </div>
    </div>



    <div class="other-posts">

        <a
            href=" {% if blog.owner.id == user.profile.id %} {% url 'profile' user.profile.slug %} {% else %} {% url 'Account' blog.owner.slug %} {% endif %}">
            <div class="owner">
                <div class="profile-img">
                    <img src="{{blog.owner.profile_image.url}}" alt="">
                    <div class="name">
                        <h4>{{blog.owner.name}}</h4>
                        <p>@{{blog.owner.username}}</p>
                    </div>
                </div>
            </div>
        </a>

        <h3 class="title">Digər postlar</h3>
        {% for blog in blogs %}
        {% include "partials/__recipecard.html" %}
        {% endfor %}

    </div>
</div>

{% endblock  %}


{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">

    // AJAX for Like

    $('.likebutton').click(function () {
        let id = $(this).attr("data-id");
        $.ajax(
            {
                type: "GET",
                url: "{% url 'like' %}",
                data: {
                    post_id: id
                },
                success: function (data) {
                    let count = Number(document.querySelector(".likecount").innerText)
                    if (document.querySelector(".likebutton").innerHTML.trim().slice(0, 39) == `<i class="fa-regular fa-thumbs-up"></i>`) {
                        document.querySelector(".likebutton").innerHTML = `<i class="fa-solid fa-thumbs-up"></i>(<span class="likecount">${count + 1}</span>)`
                    }
                    else {
                        document.querySelector(".likebutton").innerHTML = `<i class="fa-regular fa-thumbs-up"></i>(<span class="likecount">${count - 1}</span>)`
                    }
                },
                error: function (error) {
                    alertify.set('notifier', 'position', 'top-center');
                    alertify.error('Öz postunuzu Bəyənə Bilməzsiniz');
                }
            })
    });

    // AJAX for Add Recipe Book

    $('.recipebookbutton').click(function () {
        let id = $(this).attr("data-id");
        $.ajax(
            {
                type: "GET",
                url: "{% url 'recipebook' %}",
                data: {
                    post_id: id
                },
                success: function (data) {
                    let count = Number(document.querySelector(".recipebookcount").innerText)
                    if (document.querySelector(".recipebookbutton").innerHTML.trim().slice(0, 38) == `<i class="fa-regular fa-bookmark"></i>`) {
                        document.querySelector(".recipebookbutton").innerHTML = `<i class="fa-solid fa-bookmark"></i>(<span class="recipebookcount">${count + 1}</span>)`
                    }
                    else {
                        document.querySelector(".recipebookbutton").innerHTML = `<i class="fa-regular fa-bookmark"></i>(<span class="recipebookcount">${count - 1}</span>)`
                    }
                },
                error: function (error) {
                    alertify.set('notifier', 'position', 'top-center');
                    alertify.error('Öz postunuzu Resept Kitabınıza Əlavə Edə Bilməzsiniz');
                }
            })
    });

</script>

<!--AJAX for Add Comment-->


{% if request.user.is_authenticated %}

<script>
    $('.addcomment').click(function () {
        let id = $(this).attr("data-id");
        let body = $('.comment-body').val()
        if (body.trim()) {
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'recipecomment' %}",
                    data: {
                        post_id: id,
                        comment_body: body
                    },
                    success: function (data) {
                        $('.comment-body').val('')
                        $('.comment-cards').prepend(`
            
            <div class="comment-body">
                <div class="img">
                    <a href="{% url 'profile' user.profile.slug %}"> <img src="{{user.profile.profile_image.url}}"></div></a>
                <div class="comment-content">
                    <a href="{% url 'profile' user.profile.slug %}"><div class="comment-owner"><h3>{{user.profile.name}}</h3>
                    <small>@{{user.username}}</small> </div></a>
                    <p class="time-created">İndicə</p>
                    <p class="comment-text">${body}</p>
                </div>
            </div>
            
            
            `)
                    }
                })
        }
    });
</script>

{% endif %}


{% endblock js %}