{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href='{% static '/css/index.css' %}?{% now "U" %}'>
<link rel="stylesheet" href='{% static '/css/user-profile.css' %}?{% now "U" %}'>


{% endblock css %}

{% block title %}<title>Profil</title>{% endblock title %}

{% block content %}
<div class="modal mdl">
  <div class="modal-image">
    <img src="" alt="" id="modal-view">
    <div class="close"><i class="fa-solid fa-xmark"></i></div>
  </div>
</div>

{% if page == "profile" %}

<div class="background">
  <div class="bg-img"><img src="{{profile.cover_image.url}}" alt=""></div>
</div>
<div class="all-datas">
  <div class="profile-image">

    <div class="prf-image"><img src="{{profile.profile_image.url}}" alt=""></div>
  </div>
  <div class="profile-name">
    <h1>{{profile.name}}</h1>
    <small>@{{profile.username}}</small>
    <div class="user-count box">
      <a href="#recipes">
        <div class="count-box">
          <h3>{{recipes | length}}</h3>
          <p>resept</p>
        </div>
      </a>
      <a href="#blogs">
        <div class="count-box">
          <h3>{{blogs | length}}</h3>
          <p>blog</p>
        </div>
      </a>
      <div class="count-box">
        <h3>{{review}}</h3>
        <p>şərh</p>
      </div>
    </div>
    <div class="line"></div>
    <p>{{profile.short_info}}</p>
    {% if user.is_superuser %}
    <a href="{% url 'newsletter' %}" class="btn-news" type="button">
      NewsLetter
    </a>
    {% endif %}
  </div>
  <div class="bottom-profile padding-x">
    <div class="recipes underline-div" id="recipes">
      <p class="head-post">Reseptlərim ({{recipes | length}})</p> <a href="{% url 'blogcreate' %}" class="btn"><i
          class="fa-solid fa-plus"></i> Resept Əlavə Et</a>
    </div>
    <div class="cards">
      {% if recipes %}

      {% for blog in recipes %}
      <div class="card">
        {% include "partials/__recipecard.html" %}
      </div>
      {% endfor %}
      {% else %}
      <h2>Ups... Resept paylaşmamısan?😒</h2>
      {% endif %}


    </div>
    <div class="blogs underline-div" id="blogs">
      <p class="head-post">Bloglarım ({{blogs | length}})</p><a href="{% url 'createblog' %}" class="btn"><i
          class="fa-solid fa-plus"></i> Blog Əlavə Et</a>
    </div>
    <div class="cards">
      {% if blogs %}
      {% for blog in blogs %}
      <div class="card">
        {% include "partials/__blogcard.html" %}
      </div>
      {% endfor %}
      {% else %}
      <h2>Ups... Blog paylaşmırsan?😯</h2>
      {% endif %}
    </div>
    <div class="wishlist underline-div">
      <p class="head-post">Resept Kitabım ({{book | length}}) </p>

    </div>
    <div class="cards">
      {% if book %}
      {% for blog in book %}
      <div class="card">
        {% include "partials/__recipecard.html" with blog=blog.recipe %}</div>
      {% endfor %}
    </div>
    {% else %}

    <h2>Ups... Resept dəftərin boşdur?🤨</h2>
    {% endif %}
  </div>
</div>
</div>



{% else %}

<div class="background">
  <div class="bg-img"><img src="{{profil.cover_image.url}}" alt=""></div>
</div>
<div class="all-datas">
  <div class="profile-image">

    <div class="prf-image"><img src="{{profil.profile_image.url}}" alt=""></div>
  </div>
  <div class="profile-name">
    <h1>{{profil.name}}</h1>
    <small>@{{profil.username}}</small>
    <div class="user-count box">
      <a href="#recipes">
        <div class="count-box">
          <h3>{{user_recipes | length}}</h3>
          <p>resept</p>
        </div>
      </a>
      <a href="#blogs">
        <div class="count-box">
          <h3>{{user_blogs | length}}</h3>
          <p>blog</p>
        </div>
      </a>
      <div class="count-box">
        <h3>{{user_review}}</h3>
        <p>şərh</p>
      </div>
    </div>
    <div class="line"></div>
    {% if profil.short_info %}
    <p>{{profil.short_info}}</p>
    {% endif %}

  </div>
  <div class="bottom-profile padding-x">
    <div class="recipes underline-div" id="recipes">
      <p class="head-post">Reseptlər ({{user_recipes | length}})</p>
    </div>
    <div class="cards">
      {% if user_recipes %}

      {% for blog in user_recipes %}
      {% if blog.isActive %}
      <div class="card">
        {% include "partials/__recipecard.html" %}
      </div>
      {% endif %}
      {% endfor %}
      {% else %}
      <h2>Ups... Resept paylaşmayıb?😒</h2>
      {% endif %}


    </div>
    <div class="blogs underline-div" id="blogs">
      <p class="head-post">Bloglar ({{user_blogs | length}})</p>
    </div>
    <div class="cards">
      {% if user_blogs %}
      {% for blog in user_blogs %}
       {% if blog.isActive %}
      <div class="card">
        {% include "partials/__blogcard.html" %}
      </div>{% endif %}
      {% endfor %}
      
      {% else %}
      <h2>Ups... Blog paylaşmayıb?😯</h2>
      {% endif %}
    </div>
    <div class="wishlist underline-div">
      <p class="head-post">Resept Kitabı ({{user_book | length}}) </p>

    </div>
    <div class="cards">
      {% if user_book %}
      {% for blog in user_book %}
      <div class="card">
        {% include "partials/__recipecard.html" with blog=blog.recipe %}</div>
      {% endfor %}
    </div>
    {% else %}

    <h2>Ups... Resept dəftəri boşdur?🤨</h2>
    {% endif %}
  </div>
</div>
</div>


{% endif %}

{% endblock content %}
